@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/2f4138a38ebd409f92fa14b4dced7091.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e8d1";
}

.icon-socialwordpressoutline:before {
  content: "\e92b";
}

.icon-socialwordpress:before {
  content: "\e92c";
}

.icon-weixin:before {
  content: "\e65d";
}

.icon-download:before {
  content: "\e624";
}

.icon-weibo:before {
  content: "\e626";
}

.icon-left:before {
  content: "\e609";
}

.icon-right:before {
  content: "\e60a";
}

.icon-qq:before {
  content: "\e882";
}

.icon-facebook:before {
  content: "\e60b";
}

.icon-linkedin:before {
  content: "\e62f";
}

.icon-home--line:before {
  content: "\e63a";
}

.icon-home--fill:before {
  content: "\e63b";
}

.icon-store--fill:before {
  content: "\e63f";
}

.icon-store--line:before {
  content: "\e640";
}

.icon-send-plane-fill:before {
  content: "\e65a";
}

.icon-chat--line:before {
  content: "\e67c";
}

.icon-message--line:before {
  content: "\e683";
}

.icon-message--fill:before {
  content: "\e684";
}

.icon-article-fill:before {
  content: "\e689";
}

.icon-article-line:before {
  content: "\e688";
}

.icon-file-lock-line:before {
  content: "\e69a";
}

.icon-file-code-line:before {
  content: "\e69c";
}

.icon-file-music-line:before {
  content: "\e69d";
}

.icon-file-ppt-line:before {
  content: "\e69e";
}

.icon-file-text-line:before {
  content: "\e6a2";
}

.icon-file-zip-line:before {
  content: "\e6a9";
}

.icon-file-word-line:before {
  content: "\e6b5";
}

.icon-numbers-line:before {
  content: "\e6b7";
}

.icon-todo-line:before {
  content: "\e6b9";
}

.icon-qq-fill:before {
  content: "\e6c8";
}

.icon-weibo-fill:before {
  content: "\e6cd";
}

.icon-wechat-fill:before {
  content: "\e6ce";
}

.icon-navigation-fill:before {
  content: "\e6e7";
}

.icon-k-line:before {
  content: "\e6f7";
}

.icon-dvd-line:before {
  content: "\e6fc";
}

.icon-dvd-fill:before {
  content: "\e6fd";
}

.icon-film-line:before {
  content: "\e6ff";
}

.icon-equalizer-line:before {
  content: "\e6fe";
}

.icon-hd-line:before {
  content: "\e701";
}

.icon-image--fill:before {
  content: "\e700";
}

.icon-image-line:before {
  content: "\e702";
}

.icon-hq-line:before {
  content: "\e704";
}

.icon-movie--line:before {
  content: "\e703";
}

.icon-music-line:before {
  content: "\e705";
}

.icon-music-fill:before {
  content: "\e706";
}

.icon-play-fill:before {
  content: "\e70e";
}

.icon-play-line:before {
  content: "\e70f";
}

.icon-sound-module-line:before {
  content: "\e71b";
}

.icon-vidicon-line:before {
  content: "\e724";
}

.icon-arrow-down-s-line:before {
  content: "\e72b";
}

.icon-arrow-drop-down-line:before {
  content: "\e72c";
}

.icon-arrow-drop-down-fill:before {
  content: "\e72d";
}

.icon-arrow-left-fill:before {
  content: "\e731";
}

.icon-arrow-drop-up-line:before {
  content: "\e73a";
}

.icon-arrow-left-s-line:before {
  content: "\e732";
}

.icon-arrow-left-s-fill:before {
  content: "\e733";
}

.icon-arrow-right-fill:before {
  content: "\e734";
}

.icon-arrow-right-s-fill:before {
  content: "\e735";
}

.icon-arrow-right-s-line:before {
  content: "\e736";
}

.icon-arrow-up-fill:before {
  content: "\e738";
}

.icon-arrow-up-s-line:before {
  content: "\e73b";
}

.icon-close-fill:before {
  content: "\e741";
}

.icon-close-circle-line:before {
  content: "\e740";
}

.icon-download--line:before {
  content: "\e749";
}

.icon-download-line:before {
  content: "\e74b";
}

.icon-eye-line:before {
  content: "\e74d";
}

.icon-heart-line:before {
  content: "\e754";
}

.icon-login-box-line:before {
  content: "\e759";
}

.icon-menu-line:before {
  content: "\e75e";
}

.icon-moon-fill:before {
  content: "\e75f";
}

.icon-moon-line:before {
  content: "\e760";
}

.icon-qr-scan--line:before {
  content: "\e761";
}

.icon-radio-button-line:before {
  content: "\e765";
}

.icon-refresh-line:before {
  content: "\e764";
}

.icon-search-line:before {
  content: "\e769";
}

.icon-settings--line:before {
  content: "\e76a";
}

.icon-share-box-fill:before {
  content: "\e76e";
}

.icon-share-circle-fill:before {
  content: "\e76f";
}

.icon-share-circle-line:before {
  content: "\e76d";
}

.icon-share-forward-fill:before {
  content: "\e770";
}

.icon-settings-line:before {
  content: "\e76c";
}

.icon-shut-down-line:before {
  content: "\e774";
}

.icon-thumb-up-fill:before {
  content: "\e77a";
}

.icon-thumb-up-line:before {
  content: "\e779";
}

.icon-account-circle-line:before {
  content: "\e786";
}

.icon-user-star-line:before {
  content: "\e795";
}

.icon-exchange-dollar-fill:before {
  content: "\e79f";
}

.icon-exchange-funds-fill:before {
  content: "\e7a0";
}

.icon-money-dollar-box-fill:before {
  content: "\e7a3";
}

.icon-money-dollar-circle-fill:before {
  content: "\e7a4";
}

.icon-price-tag--fill:before {
  content: "\e7a8";
}

.icon-price-tag--line:before {
  content: "\e7a9";
}

.icon-red-packet-fill:before {
  content: "\e7aa";
}

.icon-red-packet-line:before {
  content: "\e7ab";
}

.icon-shopping-bag--fill:before {
  content: "\e7ac";
}

.icon-shopping-cart-line:before {
  content: "\e7ad";
}

.icon-shopping-bag-fill:before {
  content: "\e7ae";
}

.icon-shopping-bag-line:before {
  content: "\e7af";
}

.icon-shopping-bag--line:before {
  content: "\e7b0";
}

.icon-shopping-cart-fill:before {
  content: "\e7b1";
}

.icon-shopping-bag--fill1:before {
  content: "\e7b2";
}

.icon-shopping-bag--line1:before {
  content: "\e7b3";
}

.icon-vip-crown--fill:before {
  content: "\e7b4";
}

.icon-vip-crown--line:before {
  content: "\e7b5";
}

.icon-vip-crown-fill:before {
  content: "\e7b6";
}

.icon-vip-crown-line:before {
  content: "\e7b7";
}

.icon-vip-diamond-fill:before {
  content: "\e7b8";
}

.icon-vip-diamond-line:before {
  content: "\e7b9";
}

.icon-vip-line:before {
  content: "\e7ba";
}

.icon-vip-fill:before {
  content: "\e7bb";
}

.icon-archive-drawer-line:before {
  content: "\e69b";
}

.icon-mail-fill:before {
  content: "\e6a7";
}

.icon-mail-line:before {
  content: "\e6a8";
}

.icon-send-plane-line:before {
  content: "\e6b3";
}

.icon-send-plane-fill1:before {
  content: "\e6b4";
}

.icon-edit-box-line:before {
  content: "\e6d0";
}

.icon-pencil-line:before {
  content: "\e6da";
}

.icon-t-box-line:before {
  content: "\e6e1";
}

.icon-double-quotes-r:before {
  content: "\e737";
}

.icon-double-quotes-l:before {
  content: "\e739";
}

.icon-lightbulb-flash-line:before {
  content: "\e75c";
}

.icon-lightbulb-line:before {
  content: "\e75d";
}

.icon-instagram-fill:before {
  content: "\e768";
}

