body{font-family: 'microsoft yahei',Arial,Helvetica, sans-serif; color: #2F2F2F;}
a{transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;}
ul{list-style:none;}
.fr{float: right;}
.fl{float: left;}
@media screen and (min-width: 769px) {
    header{}
    .mb_nav{display: none}
    .logo{margin-top: 18px;}
    /* .navbar{ margin-top:15px;  min-height: 50px;  border-bottom: 3px solid #01AF63;margin-bottom: -2px;background-color: #01AF63;} */
    /* #myNavbar{border-color: none;}
    .navbar-nav > li{}
    .navbar-nav > li:first-child { border-left:0; }
    .navbar-nav > li:last-child{}
    .navbar-nav > li > a {text-align: center;}
    .navbar-default .navbar-nav > li > a{color: #434343; padding: 15px 34px 15px 34px;}
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a.active,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: #01AF63; color: #fff; }
    .navbar-brand{display: none;} */

    /* .nav_small{ background-color:#fff;  padding: 10px 0px; padding-bottom: 15px; border-radius: 0px; border: none; box-shadow: none;border-top: 3px solid #01AF63;}
    .nav_small > li{}
    .nav_small > li > a{line-height:20px; padding: 7px 0px; text-align: center; color: #434343; font-size: 13px;}
    .nav_small > li > a:hover{color: #01AF63; background-color: #01AF63; color: #fff; }
    #app_menudown,#small_search{ display:none; }
    .index_left_nav,.footer_nav{display:none; } */
}


/*小屏幕*/
@media screen and (max-width: 768px) {
    /* .mb_nav{display: block}
    nav {
        border: 0;
    }
    nav .container{
        background:rgba(0,0,0,0.8);
        color:#fff;
    } */
    .top-wl{display: none;}
    /* .navbar{min-height: 50px; margin-top:10px; background-color: #01AF63;}
    .navbar-default .navbar-brand {color: #fff; font-size: 16px;}
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {color: #fff;}
    .navbar-toggle{border:none;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:none;}
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #2ECA86;
    }
    .navbar-default .navbar-toggle .icon-bar{background-color: #fff;}
    .navbar-default .navbar-nav{margin-top: 0px;margin-bottom: 0px;}
    .navbar-default .navbar-nav > li {}
    .navbar-default .navbar-nav > li:last-child{border: none;}
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #fff;}
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        background-color: #2ECA86; color: #fff;} */

    header{}
    .top_name,.home-btn,.page_bg{display: none;}
    .language{border-left: 0px; border-right: 0px; }
    .about_box{margin:8px 0px 0px 0px;}
    .about_box section img{margin:10px 15px 0px 0px;max-width: 180px}
    .about_contents{ line-height:28px;}
    .list_box{margin-top: 20px;}
    .search_group{margin: 10px 0px 5px 0px;}
    #topsearch{display: none;}
    .logo{display: block; margin: 0 auto; margin-top:25px; margin-bottom: 15px; max-width:380px;}
    .flash div.bx-pager{ /*display:none;*/}
    .about_h2{margin-top:35px;}
    .left_h2{margin-top: 25px;}
    .list_related h2.left_h2{margin-top: 60px;}
    .product_img,.product_list2 div.product_img{min-height: 100px; margin-bottom: 35px;}
    .related_list div.product_img{min-height: 180px;}
    .product_con img,.contents img{width:100%;}

    .case_bg{padding-bottom: 25px;}
    .case_img,.team_img{min-height: 100px; margin-bottom: 35px;}
    .case_desc h3,.team_desc a{font-size: 14px; padding: 10px 4px 12px 4px; margin-top:0px;}
    .case_desc p,.case_more,.team_desc p{display: none;}
    .news_box{margin-top: 10px;}
    .news_time{ display:none;}
    .left_news ul{padding-bottom: 20px;}
    .index_contact{margin-top:5px;}
    .product_h1{ line-height:22px; font-size:16px; margin-top: 35px;}
    .footer_nav{background-color: #fafafa;}
    #pic-page a img {width:35px;}
    #cmsFloatPanel{ display: none;}
    .point span.to_prev,.point span.to_next{text-align:left; padding-bottom: 8px;}
    .product_list2{}
    footer{ }
}

@media screen and (max-width: 767px) {
    /* .mb_nav{display: block;} */
    .copyright_p{ display:none;}
    .cp_banner .glyphicon{display: none}
}

/*440px到768px*/
@media screen and (min-width:440px) and (max-width:768px) {
    /* nav .container{
        background:rgba(0,0,0,0.8);
        color:#fff;
     
    }
    .mb_nav{display: block;clear: both;} */
    .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
        float: left;
    }
    .col-mm-12 {
        width: 100%;
    }
    .col-mm-11 {
        width: 91.66666667%;
    }
    .col-mm-10 {
        width: 83.33333333%;
    }
    .col-mm-9 {
        width: 75%;
    }
    .col-mm-8 {
        width: 66.66666667%;
    }
    .col-mm-7 {
        width: 58.33333333%;
    }
    .col-mm-6 {
        width: 50%;
    }
    .col-mm-5 {
        width: 41.66666667%;
    }
    .col-mm-4 {
        width: 33.33333333%;
    }
    .col-mm-3 {
        width: 25%;
    }
    .col-mm-2 {
        width: 16.66666667%;
    }
    .col-mm-1 {
        width: 8.33333333%;
    }
    .logo{max-width:380px;}
    .cp_banner .glyphicon{display: none}
    .back_top {display: none;}
}

@media screen and (max-width: 414px) {
    /* nav .container{background:rgba(0,0,0,0.8);color:#fff;}
    .mb_nav{display: block} */
    .glyphicon-search {display: none;}
    .logo{max-width:280px;}
    .cp_banner .glyphicon{display: none}
    .back_top {display: none;}
}
.mb_nav {
    padding: 0 10px;
    height: 28px;
}
.mb_nav span{
    line-height: 30px;
    font-size: 15px;
}
.mb_nav::after{clear: both;}
.mb_nav li{
    /* float: left; */
    background-color: #01AF63;
}
.swiper-slide img{
  width: 100%;
}
/* .cp .container {
  overflow: hidden;
}
.cp_tab {
  clear: both;
  overflow: hidden;
}
.cp_tab li{
  display: block;
  float: left;
  width: 25%;
  padding: 0 10px;
}
.cp_tab li img{
  width: 100%;
} */
/* .cp_tab li span{
  display: block;
  position: relative;
  left: 50%;
  margin-left: -30px;
  border: 1px solid #485668;
  text-align: center;
  width: 30%;
} */

/*公司简介*/
.about{background: #F9FAFB;}
.about_h2{text-align: center; font-size:26px; color:#000; margin-top:50px;letter-spacing:8px;}
.about_h2 span{color: #01af63;}
.about_line{padding: 3px 0px; background: url(../images/about_line.png) center center no-repeat;}
.about_p{text-align: center;  color: #c3c3c3; font-size:16px; text-transform: uppercase;padding:0px;padding-left: -6px;}
.about_contents{color:#2F2F2F;  line-height:31px; padding:5px 0px 10px 0px;}
a.about_more{ display: block; margin: 0 auto; width: 130px; text-align: center; color:#01af63; padding: 10px 0px; background: #fff; border:1px solid #01af63; margin-bottom:20px;}
a.about_more:hover{color: #fff; background: #01af63; text-decoration: none;}
.mouse_img{width: 33px; height: 46px; margin: 0 auto; background: url(../images/mouse.png) no-repeat center center; position: relative; top: 23px; z-index: 99px;}
.about_contents span{color: aqua;}

/* 产品展示 */
.cp_banner {width: 100%;overflow: hidden;position: relative}
.cp_banner .cp_ul{width: 2000px;overflow: hidden;margin: 0 auto;position: relative;left: 0;transition: left 0.5s;padding: 0;}
.cp_banner .cp_li {    height: 318px;
    width: 285px;
    list-style: none;float: left;transition: top 0.3s;top:0;margin-top: 10px;}
.cp_banner .cp_li:hover{top: -10px;}
.cp_banner .cp_li a{display: block;margin: 5px;text-decoration: none;background-color: #E6E2E7;padding: 10px;}
.cp_banner .cp_li a img{width: 100%; transition: 0.3s}
.glyphicon-menu-left{position: absolute;top:50%;margin-top:50px;font-size: 30px;left: -40px;color: #485668;display: block;}
.glyphicon-menu-left:hover{color:#01AF63}
.glyphicon-menu-right{position: absolute;top:50%;margin-top:50px;font-size: 30px;right: -40px;color: #485668;display: block;}
.glyphicon-menu-right:hover{color:#01AF63}
/* .cp_banner .cp_li a img:hover{width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
} */
/* .slick div{float: left;} */

.cp_banner .cp_li a span{text-align: center;display: block;width: 50%;height: 30px;margin: 10px auto;background-color:#fff ;color:#01AF63;line-height: 27px;border:1px solid #01AF63;font-size: 12px;border-radius: 2px;transition: 0.5s;overflow: hidden;}
.cp_banner .cp_li a span:hover{background-color: #01AF63;color:#fff;}
/*  */
.index_1 { padding: 60px 0 120px; background: #f9fafb; overflow: hidden; }
.index_1 a { margin-bottom: 10px;display: block; position: relative; width: 550px; height: 430px; background: no-repeat center; background-size: cover; }
.index_1 span { display: block; position: absolute; left: 50%; bottom: -63px; width: 350px; padding: 30px 0; margin-left: -175px; background: #fff; text-align: center; }
.index_1 span em { display: block; margin-bottom: 15px; font-size: 18px; color: #485668; font-weight: bold; }
.index_1 span i { display: inline-block; height: 34px; padding: 0 15px; background: #f3f6fa; font-size: 14px; color: #485668; line-height: 34px; font-weight: bold; }
.index_1 span i:hover{background-color: #01af63; color:#fff;}

/* .index_2 { padding: 60px 0; overflow: hidden; }
.index_2 .i_mian { padding: 60px 0; }
.index_2 .i_mian > button { position: absolute; top: 50%; z-index: 99; border: none; width: 40px; height: 40px; margin-top: -20px; border-radius: 0; background: transparent; font-size: 0; text-align: center; line-height: 40px; cursor: pointer; }
.index_2 .i_mian > button.slick-prev { left: -3%; }
.index_2 .i_mian > button.slick-prev:before { content: '\e610'; }
.index_2 .i_mian > button.slick-next { right: -3%; }
.index_2 .i_mian > button.slick-next:before { content: '\e614'; }
.index_2 .i_mian > button:before { display: inline-block; font-family: "iconfont" !important; font-size: 36px; color: #2f3843; }
.index_2 .i_mian > button.slick-disabled { pointer-events: none; }
.index_2 .i_mian > button.slick-disabled:before { color: #f9fafb; }
.index_2 .i_mian .slick-dots { position: absolute; left: 0; bottom: 1%; z-index: 99; width: 100%; text-align: center; }
.index_2 .i_mian .slick-dots li { display: inline-block; width: 8px; height: 8px; overflow: hidden; margin: 0 10px; border: 1px solid #485668; border-radius: 50%; background: #fff; vertical-align: bottom; }
.index_2 .i_mian .slick-dots li.slick-active { background: #98c0e6; border: 1px solid #98c0e6; }
.index_2 .i_mian .slick-dots li button { display: none; }
.index_2 .i_ii { width: 0; padding: 0 10px; box-sizing: border-box; }
.index_2 .i_ii h4 img { width: 100%; }
.index_2 .i_ii h5 { margin: 20px 0 36px; font-size: 14px; color: #485668; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.index_2 .i_ii h6 a { display: block; position: relative; width: 86px; height: 34px; margin: 0 auto; background: #fff; border: 1px solid #485668; box-sizing: border-box; font-size: 14px; color: #485668; text-align: center; line-height: 31px; }
.index_2 .i_ii h6 a:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; content: ''; background: #eef2f8; border-top: 1px solid #485668; }
.index_2 .i_ii h6 a:hover { background: #485668; color: #fff; } */

.index_3 { padding: 16.1% 0; overflow: hidden; background: no-repeat center; background-size: cover; }
.index_3 .wrap { position: relative; }
.index_3 .wrap > a { display: block; position: absolute; top: 50%; left: 200px; width: 339px; height: 331px; margin-top: -160px; background: no-repeat center; background-size: cover; line-height: 331px; font-size: 0; }
.index_3 .wrap > a > div { display: inline-block; width: 100%; vertical-align: middle; text-align: center; line-height: 1; }
.index_3 .wrap > a > div h4 { font-size: 14px; color: #485668; }
.index_3 .wrap > a > div h5 { position: relative; margin-bottom: 20px; padding: 25px 0; font-size: 24px; color: #485668; }
.index_3 .wrap > a > div h5:before { position: absolute; bottom: 0; left: 50%; width: 16px; height: 1px; content: ''; margin-left: -8px; background: #485668; }
.index_3 .wrap > a > div h6 span { display: inline-block; position: relative; padding: 0 20px; line-height: 18px; }
.index_3 .wrap > a > div h6 span em { position: relative; z-index: 2; font-size: 14px; color: #485668; }
.index_3 .wrap > a > div h6 span:before { position: absolute; top: 5px; left: -5px; z-index: 1; width: 100%; height: 100%; content: ''; background: #eef2f8; }
